[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = git@github.com:Yggdroot/indentLine.git
[submodule "bundle/neomake"]
	path = bundle/neomake
	url = git@github.com:neomake/neomake.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = git@github.com:vim-scripts/taglist.vim.git
[submodule "bundle/vim-autoclose"]
	path = bundle/vim-autoclose
	url = git@github.com:Townk/vim-autoclose.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = git@github.com:slim-template/vim-slim.git
